# MUKIIBI TARSIS B30294 S24B38/004

# ERROR HANDLING

Importing necessary libraries

In [3]:
import pandas as pd
import numpy as np

Importing dataset

In [4]:
data = pd.read_excel('diamonds_new.xlsx')
data

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

Checking for misisng values

In [6]:
data.isnull().sum()

price      0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
dtype: int64

There are no missing values

Data description

In [7]:
data.describe(include='all')

,price,carat,cut,color,clarity,depth,table,x,y,z
count,53920.000000,53920.000000,53920,53920,53920,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000
unique,NaN,NaN,5,7,8,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Ideal,G,SI1,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,21546,11285,13061,NaN,NaN,NaN,NaN,NaN
mean,3933.492174,0.798018,NaN,NaN,NaN,61.749560,57.456769,5.731337,5.734703,3.538854
std,3989.963677,0.474061,NaN,NaN,NaN,1.432414,2.233927,1.121807,1.142192,0.705736
min,326.000000,0.200000,NaN,NaN,NaN,43.000000,43.000000,0.000000,0.000000,0.000000
25%,950.000000,0.400000,NaN,NaN,NaN,61.000000,56.000000,4.710000,4.720000,2.910000
50%,2401.000000,0.700000,NaN,NaN,NaN,61.800000,57.000000,5.700000,5.710000,3.530000
75%,5327.000000,1.040000,NaN,NaN,NaN,62.500000,59.000000,6.540000,6.540000,4.040000
max,18823.000000,5.010000,NaN,NaN,NaN,79.000000,95.000000,10.740000,58.900000,31.800000

Calculating the sample space

In [9]:
data['price'].count()

np.int64(53920)

Using the variable 'price' to test for Type I and Type II errors

In [12]:
import numpy as np
from scipy.stats import norm

def type_i_error_test(sample_mean, population_mean, std_dev, sample_size, alpha=0.05):
    """
    Simulates Type I Error (False Positive) in hypothesis testing.
    """
    standard_error = std_dev / np.sqrt(sample_size)
    z_critical = norm.ppf(1 - alpha / 2)
    lower_bound = population_mean - z_critical * standard_error
    upper_bound = population_mean + z_critical * standard_error
    
    if sample_mean < lower_bound or sample_mean > upper_bound:
        return "Reject H0 (Type I Error)"
    else:
        return "Fail to Reject H0 (No Error)"

def type_i_error_example():
    population_mean = 3933.492174
    std_dev = 3989.963677
    sample_size = 53920
    alpha = 0.05
    sample_mean = 3933.492174  # Extreme value leading to rejection of H0
    print(type_i_error_test(sample_mean, population_mean, std_dev, sample_size, alpha))

def type_ii_error_test(sample_mean, population_mean, std_dev, sample_size, alpha=0.05):
   
    standard_error = std_dev / np.sqrt(sample_size)
    z_critical = norm.ppf(1 - alpha / 2)
    lower_bound = population_mean - z_critical * standard_error
    upper_bound = population_mean + z_critical * standard_error
    
    if lower_bound <= sample_mean <= upper_bound:
        return "Fail to Reject H0 (Type II Error)"
    else:
        return "Reject H0 (No Error)"

def type_ii_error_example():
    population_mean = 3933.492174
    std_dev = 3989.963677
    sample_size = 53920
    alpha = 0.05
    sample_mean = 3933.492174  # Close to H0 but H1 is true
    print(type_ii_error_test(sample_mean, population_mean, std_dev, sample_size, alpha))

# Example usage for diamnod dataset
type_i_error_example()
type_ii_error_example()

Fail to Reject H0 (No Error)
Fail to Reject H0 (Type II Error)